*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/img_bg_.jpg");
    height: 1103px;
    backdrop-filter: brightness(50%);
    display: flex;
    flex-direction: column;
}

header{
    height: 90px;
}

header img{
    width: 167px;
    height: 46px;
    margin: 24px 0 0 40px;  
}

form{
    width: 450px;
    height: 660px;
    background-color: #000000bf;
    padding-left: 67px;
    padding-right: 67px;
    margin: 0 auto 0 auto;
    /* display: flex;
    flex-direction: column; */
}

h1{
    margin-top: 64px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: white;
}

.campo-email, .campo-senha{
    margin: 28px 0 0 0;
    position: relative;
    height: 50px;
}

.campo-senha{
    margin: 16px 0 0 0;
}

.entradas{
    width: 296px;
    height: 50px;
    padding-top: 16px;
    padding-left: 16px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333333;
    color: white;
}

.entrada-invalida{
    width: 296px;
    height: 50px;
    padding-top: 16px;
    padding-left: 16px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333333;
    color: white;
    border-bottom: 2px solid #e87c03;
}

.entradas:focus + label, label.active{
    top: 6px;
    font-size: 11px;
    transition-duration: 0.2s;
}

.entradas:focus, .entrada-invalida:focus{
    outline: 0;
}

label{
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #737373;
}

.email-invalido{
    margin: 8px 0 0 0;    
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color:#e87c03;
    display: none;
}

.senha-invalida{
    margin: 8px 0 0 0;    
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color:#e87c03;
    display: none;
}

.campo-email-invalido, .campo-senha-invalida{
    border-bottom: 1px solid #e87c03;
}

p{
    color: white;
}